:root{
    --mainColor: #606b56;
    --sceondaryColor: #515a48;
    --borderColor: #161914;
    --mainText: #fff;
    --secondaryText: #eee;
    --themeDotBorder: #FFF;
    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;
    --buttoncolor: #669966;
    --shadowColor: rgba(209, 209, 209, 0.75);
}